*{
	font-family: 'Lato', sans-serif;
}


.main-title{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
}


.proverbe{
	margin: 0 260px;
}
.proverbe .proverbe-item{
	text-align: center;
	font-size: 22px;
	margin: 40px 0;
}



.proverbe-inputZone{
	background-color: #9cfd94 ;
	position: fixed;
	left: -246px;
	top: 0px;
	height: 100vh;
	transition: left .6s ease-in-out;
}



.proverbe-inputZone div{
	display: flex;
	flex-direction: column-reverse;

}
.proverbe-inputZone div input{
	margin: 20px;
	width: 200px;
}


.proverbe-inputZone textarea{
	margin: 20px;
	width: 200px;
	font-size: 25px;
	height: 80vh;
}

.proverbe-showInputZone{

	position: fixed;
	left: 0px;
	top: 50vh;
	width: 0; 
	height: 0; 
	z-index: 2;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid #5f55f9;
	transition: left .6s ease-in-out, transform .6s ease-in-out;

}
.proverbe-showInputZone-active{
	left: 216px;
	transform: rotate(-180deg);

}
.proverbe-inputZone-active{
	left: 0px;
	
}




.proverbe-deleteZone{
	width: 246px;
	background-color: #5f55f9;
	position: fixed;
	right: -246px;
	top: 0px;
	height: 100vh;
	transition: right .6s ease-in-out;
}



.proverbe-deleteZone .contain{
	display: flex;
	flex-direction: column-reverse;
	margin: 20px;

}
.proverbe-deleteZone .contain input{
	margin: 20px;
	width: 200px;
}


.proverbe-deleteZone textarea{
	margin: 20px;
	width: 200px;
	font-size: 25px;
	height: 80vh;
}

.proverbe-showDeleteZone{

	position: fixed;
	right: 0px;
	top: 50vh;
	width: 0; 
	height: 0; 
	z-index: 2;
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 30px solid #9cfd94;
	transition: right .6s ease-in-out, transform .6s ease-in-out;

}
.proverbe-showDeleteZone-active{
	right: 216px;
	transform: rotate(-180deg);

}
.proverbe-deleteZone-active{
	right: 0px;
	
}

.proverbe-deleteZone-icon i{
	font-size: 50px;
	padding:30px;
}

.hide{
	display: none!important;;
}